/* Coolors Exported Palette - coolors.co/ed1c24-fdfffc-235789-f1d302-020100 */

/* HSL */
$color1: hsla(358%, 85%, 52%, 1);
$color2: hsla(100%, 100%, 99%, 1);
$color3: hsla(209%, 59%, 34%, 1);
$color4: hsla(52%, 98%, 48%, 1);
$color5: hsla(30%, 100%, 0%, 1);

/* RGB */
$color1: rgba(237, 28, 36, 1);
$color2: rgba(253, 255, 252, 1);
$color3: rgba(35, 87, 137, 1);
$color4: rgba(241, 211, 2, 1);
$color5: rgba(2, 1, 0, 1);