@import "reset";
@import "https://fonts.googleapis.com/css?family=Open+Sans|Roboto"; 
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "palette";

@mixin border-radius($radio){
	-ms-border-radius: $radio;
	-webkit-border-radius: $radio;	
	-moz-border-radius: $radio;
	-o-border-radius: $radio;
	border-radius: $radio;
} 

@mixin box-shadow($top, $left, $blur, $color){
	-ms-box-shadow: $top $left $blur $color;
	-webkit-box-shadow: $top $left $blur $color;
	-moz-box-shadow: $top $left $blur $color;
	-o-box-shadow: $top $left $blur $color;
	box-shadow: $top $left $blur $color;
}

@mixin circular($diametro, $color){
	display: inline-block;
	width: $diametro;
	height: $diametro;
	background-color: $color;
	@include border-radius(50%);
}

body{
	background-color: #008c8c;
	background-image: url(../images/background-food-pattern.png);
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
	color: #5E5D5C;
	h1, h2, h3, h4, h5, h6{
		font-family: 'Roboto', sans-serif;
	}
}

.contenedor{
	max-width: 960px;
	margin: auto;
}

.receta{
	max-width: 662px;
	margin: 50px auto;
	background: white;
	overflow: hidden;
	@include border-radius(15px);

	h2{
		font-size: 40px;
		text-transform: uppercase;
		padding: 20px 40px;
		
	}
	.plato{
		width: 100%;
	}

	.megusta{
		position: relative;
		top: -30px;
		left: 550px;
		text-align: center;
		&.circular{
			@include circular(50px, $color4);
		}
		@include box-shadow(2px, 2px, 10px, $color4);
		i{
			line-height: 50px;
			font-size: 30px;
			color: white;			
		}
	}
	ul{padding: 0 40px;}
	ul li{
		display: inline-block;
		padding: 5px 2px;
		i.fa-star{
			font-size: 20px;
			color: $color4;
		}
	}
	p{
		margin: 20px 0;
		padding: 0 40px;
	}





	a.cocinar_action{
		text-transform: uppercase;
		text-decoration: none;
		display: block;
		width: 195px;
		margin: 40px auto;
		padding: 20px 0;
		color: white;
		background-color: rgb(255, 91, 126);
		text-align: center;	
		@include border-radius(5px);
		@include box-shadow(2px, 2px, 10px, rgb(255, 91, 126)); 	
		transition: 0.9s;
		
		&:hover{
			transform: scale(1.2);
		}			
	}
}